*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --1: #d3d1cd;
  --2: #9e9d9e;
  --3: #575a5e;
  --4: #dd3737;
}
body{
  background: black;
  scroll-behavior: smooth;
}
header{
  display: none;
}
.nav-bar{
  display: flex;
  background-color: black;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 10vh;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    font-size: 2.5vh;
    white-space: nowrap;
    align-items: center;
  }
  ul a{
    margin: 1vh 3vh;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 0.5vh 0 0.5vh 0;
  }
  ul a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  ul a:hover:after{
    transform: scaleX(1);
    transform-origin: center;
  }
  /* disable any hovering effect for last element */
  ul a:last-child:after{
    content: none;
  }
  ul a:last-child{
    padding: 0.5vh 4vh;
    border: #fff solid 1.3px;
    border-radius: 35px;
    transition: .5s;
  }
  ul a:last-child:hover{
    background-color: #fff;
    color: #000;
    box-shadow: var(--4) 3px 3px 2px;
  }
  .nav-bar img{
    height: 100%;
  }
  .nav-bar .logoScroll{
    filter: invert(100%);
    margin-left: 4%;
    height: 85%;
  }
  .nav-bar span {
    margin-left: 2%;
    font-size: 2.5vh;
    white-space: nowrap;
    color: white;
  }
  .nav-bar .dummyClass{
    width: 100%;
  }
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section img#logo{
  display: none;
  position: absolute;
  top: 4%;
  left: 4%;
  height: 190px;
}
section:nth-child(3){
  background-image: url(Design/IMGL0094-edit.png);
  background-position: 0% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 500px;
  color: white;
}
section:nth-child(4){
  background: black
} 
section:nth-child(5){
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
section .container{
  margin: 100px;
}
section:nth-child(6){
  min-height: 100vh;
  background: #656565;
}
section:nth-child(7){
  min-height: 1vh;
}
section:nth-child(8){
  min-height: 1vh;
}
/* #scrollcontacts .container.active.reveal{
  margin-bottom: 20px;
} */
.wordCarousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  transform: scale(3);
  font-size: 30px;
  font-weight: 600;
  text-shadow: 1px 1px var(--3)
}
.wordCarousel div{
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}
.wordCarousel span{
  text-shadow: 1px 1px var(--3);
}
.wordCarousel div li {
  font-weight: 700;
  text-align: center;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
  color: white;
  /* text-shadow: 1.5px 1.5px black; */
}
.wordCarousel div #special{
  text-shadow: 1.2px 1.2px 5px var(--3);
  /* text-shadow: 0px 0px transparent; */
  font-size: 40px;
  color: black;
}
.toAppear{
  opacity: 0;
  height: 3vh;
  filter: grayscale(100%);
}
.base{
  opacity: 100;
}
.toAppear.active{
  opacity: 100;
  height: 10vh;
  filter: grayscale(100%);
  transition: ease-in-out 0.75s;
}
.base.active{
  font-size: 5px;
  opacity: 0;
  transition: 1s;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) 1; }
.flip3 { animation: flip3 7s cubic-bezier(.46,0,1,1) 1; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) 1; }
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
/* mobile change req */
.reveal:nth-child(1){     
  position: relative;
  transform: translateY(150px);
  margin-left: 0;
  margin-right: 0;
  opacity: 0;
  transition: 1s all ease;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 15vh;
  flex-direction: column;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.arrows path {
	stroke: black;
	fill: transparent;
	stroke-width: 6px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; 
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; 
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; 
}
.arrows{
	width: 60px;
	/* height: 72px; */
	position: absolute;
	left: 50%;
  top: 250%;
	margin-left: -30px;
	bottom: 20px;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.arrows.active{
  transform: translateY(0);
  opacity: 1;
}
.content{
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.content img{
  position: relative;
  display: block;
  position: static;
  overflow: hidden;
  /* transform: translateX(-50%); */
  width: 60%;
  z-index: 1;
}

.content .text{
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1vh 30vh 15vh 18vh;
}
.content div{
  font-weight: 700;
  font-size: 10vh;
  color: var(--2);
  letter-spacing: 1vh;
  margin-left: -3px;
}
.content div:nth-child(3){
  transform: translateY(-4vh);
}
.content p{
  letter-spacing: 0;
  font-weight: 300;
  font-size: 2.6vh;
  color: white;
}
.content h3:nth-child(5){
  margin-top: 5vh;

}
.content h3{
  margin-top: 1vh;
  letter-spacing: 0;
  font-weight: 500;
  font-size: 2.6vh;
  color: red;
}

/* .content .text{
  display: flex;
  flex-direction: column;
  margin: 1% 2%;
  padding-top: 10vh;
  font-size: 1.6rem;
  font-weight: 300;
}
.content .text img{
  display: flex;
  margin: 1%;
  width: 15%;
  align-self: center;
}

.content .text p:nth-child(3){
  font-weight: 600;
  font-size: 2.5rem;
}
.content .text p:nth-child(7){
  font-weight: 600;
  font-size: 1.7rem;
  align-self: center;
}
.content .text div{
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--4);
  text-shadow: 1px 1px var(--3);
} */
#scroll div.container.reveal{
  width: 100%;
  height: 100%;
  margin: 0px;
}
.container.reveal .choice{
  font-size: 5vh;
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
  flex-wrap: wrap;
  user-select: none;
}
.underlineElementContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.underlineElement{
  background-color: black;
  height: 6px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}
.checked{
  transform: scaleX(1);
}
.underlineElementContainer:hover .underlineElement{
  transform: scaleX(1);
}
.choiceText{
  display: none ;
  transform: translateY(150px);
  transition: 1s all ease;
  opacity: 0;
  font-size: 32px;
}

.choiceText.mid{
  color: rgba(0, 0, 0, 0.76);
  text-shadow: .5px .5px 2px var(--3);
  display: flex ;
  transform: translateY(150px);
  transition: 1s all ease;
  opacity: 0;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
}
.choiceText.mid.active{
  transition: 1s all ease;
  transform: translateY(0);
  opacity: 1;
  font-weight: 400;
  display: flex;
  font-size: 35px;
  text-align: center;
  justify-content: center;
}
.choiceText:nth-child(1){
  font-size: 35px;
  margin: 5% 10%;
  text-align: center;
}
.choiceText:nth-child(3){
  font-size: 35px;
  margin: 5% 5%;
}
.gridView{
  width: 100%;
  height: 100%;
}
.gridViewElements{
  display: flex;
  width: 100%;
  font-size: 3.5rem;
  font-weight: 300;
  color: black;
  text-shadow: 1px 1px var(--3);
}
.gridViewElements div{
  margin: 1%;
}
.gridViewElements img{
  display: flex;
  width: 13%;
}
.gridView img#hide2{
  display: none;
}
.gridViewElements:nth-child(1){
  display: flex;
  width: 100%;
  margin-left: -16px;
  justify-content: space-evenly;
}

.gridViewElements:nth-child(2){
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.gridViewElements:nth-child(3){
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#scrollcontacts .container.reveal.active{
  width: 100%;
  height: 100%;
  margin: 0px;
}
.teamphotobg{
  position: relative;
  display: flex;
  min-width: 100% ;
  min-height: 100vh;
  background-image: url(Design/IMGL0067.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.graybox{
  position: absolute;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #707070;
  clip-path: polygon(65% 0, 100% 0%, 100% 100%, 45% 100%);
  z-index: 1;
}
.contactData{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  justify-items: center;
  align-items: center;
  padding-right: 4%;
}
.informationHolder{
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  /* padding-right: 10%; */
  flex-wrap: wrap;
}
.informationHolder h1{
  font-size: calc(2rem + 3vw);
  font-weight: 700;
  color: white;
  margin-bottom: 5%;
}
.informationHolder .place{
  font-size: 3rem;
  font-weight: 500;
  color: black;
  margin-bottom: 5%;
}
.informationHolder .adress{
  font-size: 2rem;
  font-weight: 300;
  color: black;
  margin-bottom: 5%;
}
.contactIcons{
  display: flex;
  flex-direction: column;
}
.contactIcons a{
  text-decoration: none;
  color: black;
}
.contactIcons #telephone,
#email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 3%;
}
#telephone a,
#email a{
  font-size: 1.2rem;
  border-bottom: black 2px dashed;
  margin-left: 5%;
}



















.contacts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contactHolder{
 background-color: #c4c4c4;
  width: 37%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  justify-content: flex-start;
  margin-left: 2%;
  margin-right: 2%;
}
.pictureHolder{
  display: flex;
  width: 45%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.contactsGrid{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contactLogo{
  display: flex;
  justify-content: center;
}
.contactLogo img{
  height: 15vh;
  filter: grayscale(100%);
}
.contactsGrid h2{
  font-size: 2rem;
  font-weight: 600;
  color: black;
  text-shadow: 1px 1px var(--3);
  margin-bottom: 20px;
  margin-top: 35px;
}
.placeDescription{
  font-size: 1.35rem;
  font-weight: 400;
}
.contactsGrid h4{
  font-size: 1.3rem;
  font-weight: 400;
  color: black;
  margin-top: 20px;
}
.contactsGrid a{
  text-decoration: none;
  color: black;
  text-shadow: .05px .05px var(--3);
}
.contactButtonHolder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}
.contactButtonHolder a{
  text-decoration: none;
}
.contactButton:hover{
  transition: .5s;
  box-shadow: var(--4) 1px 1px 5px;
}
.contactButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 35px;
  padding: 15px 75px;
  font-size: 1.35rem;
}
#contactInfo h4{
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--1);;
  margin-top: 5%;
  text-decoration: none;
}
#contactInfo a{
  color: var(--1);
  text-shadow: 1.3px 1.3px black;
  text-decoration: none;
}
#contactInfo span{
  font-size: 1.05rem;
  font-weight: 400;
}

.contactHeader{
  margin-left: 13%;
  font-size: 30px;
  font-weight: 700;
}
.gridLook{
  display: grid;
  column-gap: 6px;
  grid-template-columns: 1.5fr 2fr;
}
#contactInfo{
  font-weight: 600;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2rem;
  text-shadow: 1.1px 1.1px var(--3);
}
#girdtext {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
img#stadion{
  width: 100%;
  margin-bottom: 1%;
}
iframe{
  width: 100%;
}
#gridLogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#finalLogo{
  width: 60%;
}
.lineup{
  text-shadow: 1.2px 1.2px var(--1);
  font-size: 30px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#insta{
  margin-left: 5%;
  width: 40px;
  height: 40px;
  margin-right: 2%;
}
#instalieup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gridLookMobile{
  display: none;
}
#gridLogo a{
  text-decoration: none;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 10vh;
}
.logoandtext{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  color: white;
  font-size: 2.5vh;
  align-items: center;
}
.logoandtext #logoSk{
  filter: invert(100%);
  width: 15%;
  margin-right: 20px;
}
#instagram{
  width: 5vh;
  filter: invert(100%);
  margin-right: 100%;
}
.temp{
  display: flex;
  align-items: center;
}
.logoandtext #sportland{
  width: 40%;
  margin-left: 40px;
}
.footerContent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
.instagramContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.instagramContainer a{
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.end{
  display: flex;
  background-color: black;
  height: 100%;
  color: var(--1);
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  text-shadow: .3px .3px var(--3);
  align-items: flex-end;
  justify-content: center;
}
.footerPhone{
  display: none;
}

@keyframes arrow{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
@-webkit-keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
@keyframes flip2 {
  0% { margin-top: -180px; }
  5% { margin-top: -90px;  }
  50% { margin-top: -90px; }
  55% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}
@keyframes flip3 {
  0% { margin-top: -270px; }
  5% { margin-top: -180px; }
  33% { margin-top: -180px; }
  38% { margin-top: -90px; }
  66% { margin-top: -90px; }
  71% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}
@keyframes flip4 {
  0% { margin-top: -360px; }
  5% { margin-top: -270px; }
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}
@media (max-width: 1450px) {
  .contactsGrid{
    grid-template-columns: 2fr;
  }
  #stadion{
    width: 80%;
  }
  iframe{
    margin-top: 5%;
    width: 80%;
  }
}
@media (max-width: 1290px){
  .gridLook{
    transform: scale(0.9);
  }
  #contactInfo{
    font-weight: 600;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5rem;
    text-shadow: 1.1px 1.1px var(--3);
    margin-bottom: 5%;
  }
}
@media (max-width: 1200px){
  .gridLook{
    transform: scale(0.8);
  }
}
@media (max-width: 1400px){
  .wordCarousel{
    transform: scale(3);
  }
  ul a{
    margin: 1vh 1vh;
  }
}
@media (max-width: 1100px){
  nav li a#selector{
    border: 0;
    font-size: 1.75em;
  }
  section:nth-child(6) {
    min-height: 80vh;
    background: #656565;
  }
  .arrows{
    top: 200%;
  }
  section img#logo{
    top: -5%;
    left: -3%;
    margin-left: 1%;
    margin-top: 1%;
    transform: scale(0.5);
  }
  .content .text img{
    width: 25%;
  }
  .content img{
    display: none;
  }
  #desktop{
    display: none;
  }
  header{
    display: flex;
    height: 100%;
  }
  section img#logo{
    display: flex;
  }
  header nav {
    background-color: var(--3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 170px;
    font-size: 3vh;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
  }
  header nav ul li {
    transform: translateY(50px);
    opacity: 0;
  }
  header nav ul li a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  }
  header nav ul li a:hover {
    color: var(--4);
  }
  .toggle-btn {
    display: block;
    position: fixed;
    z-index: 10;
    right: 5%;
    top: 5%;
    cursor: pointer;
    transform: scale(2.5);
  }
  .toggle-btn .bar {
    width: 30px;
    height: 2px;
    margin: 7px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
  }
  .toggle-btn .bar:nth-child(2) {
    width: 20px;
  }
  #toggle:checked ~ nav {
    opacity: 1;
    visibility: visible;
  }
  #toggle:checked ~ nav ul {
    top: 70px;
  }
  #toggle:checked ~ nav ul li {
    transform: translateY(0px);
    opacity: 1;
  }
  #toggle:checked ~ nav ul li:nth-child(1) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
  }
  #toggle:checked ~ nav ul li:nth-child(2) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
  }
  #toggle:checked ~ nav ul li:nth-child(3) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
  }
  #toggle:checked ~ nav ul li:nth-child(4) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
  }
  #toggle:checked + label.toggle-btn .bar {
    background-color: red;
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .contacts{
    display: none;
  }
  /* #scrollcontacts .container.active.reveal{
    margin-top: 0;
  } */
  .gridLookMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gridLook{
    display: none;
  }
  .contactHeader{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  #contactInfo{
    text-align: center;
    font-weight: 600;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.35rem;
    text-shadow: 1.2px 1.2px var(--3);
  }
  img#stadion{
    width: 100%;
    transform: scale(0.9);
  }
  .lineup{
    text-shadow: 1.2px 1.2px var(--1);
    font-size: 27px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }
  #finalLogo{
    width: 50%;
  }
  #insta{
    margin-left: 5%;
    width: 55px;
    height: 55px;
  }
  iframe{
    width: 100%;
    transform: scale(0.9);
  }
  #instalieup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .footer{
    display: none;
  }
  .footerPhone{
    display: flex;
    flex-direction: column;
  }
  .footerContent {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    flex-direction: column;
  }
  .logoandtext{
    height: 20%;
    justify-content: center;
    font-size: 1rem;
  }
  .instagramContainer {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .logoandtext #sportland{
    width: 20%;
  }
  .logoandtext #logoSk{
    width: 5%;
  }
  #instagram{
    margin-right: 0;
  }
  #contactInfo{
    margin-bottom: 1%;
  }
  iframe{
    margin-top: 0;
  }
  .teamphotobg{
    position: relative;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(Design/IMGL0067.jpg);
    background-position-y: 150%;
    background-position-x: center;
    background-size: 167vh;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
  }
  .graybox{
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #707070;
    clip-path: polygon(0 50%, 100% 35%, 100% 100%, 0% 100%);
    z-index: 1;
  }
  .contactDataTablet{
    display: flex;
    width: 100%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    transform: translateY(90%);
    z-index: 2;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .contactDataTablet h1{
    font-size: calc(2rem + 3vw);
    font-weight: 700;
    color: white;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .contactDataTablet .contactGrid{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    gap: 5%;
  }
  .contactDataTablet .place{
    font-size: 2.3rem;
    font-weight: 500;
    color: black;
    margin-bottom: 5%;
    text-align: center;
  }
  .contactDataTablet .adress{
    font-size: 1.75rem;
    min-height: 50%;
    font-weight: 300;
    color: black;
    margin-bottom: 5%;
    text-align: center;
  }
  .contactDataTablet .contactIcons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .contactDataTablet .contactIcons a{
    text-decoration: none;
    color: black;
  }
  .contactDataTablet .contactIcons #telephone,
  .contactDataTablet .contactIcons #email {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 3%;
    justify-content: center;
    gap: 5%;
  }
  .contactDataTablet .contactIcons #telephone a,
  .contactDataTablet .contactIcons #email a{
    font-size: 1.2rem;
    border-bottom: black 2px dashed;
    margin: 0;
  }
  .contactDataTablet .contactIcons #telephone img,
  .contactDataTablet .contactIcons #email img{
    width: fit-content
  }
}
@media (max-width: 900px){
  img#stadion{
    transform: 0;
    width: 70%;
  }
  .toAppear.active{
    height: 15vh;
  }
  .choice p{
    margin: 2%;
  }
  .gridView{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gridView img#hide2{
    display: flex;
    width: 20%;
  }
  .gridViewElements img{
    display: none;
  }
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
  section img{
    transform: scale(75%);
  }
  .wordCarousel{
    display: flex;
    transform: scale(2.2);
    flex-direction: column;
    align-items: center;
  }
  .arrows.arrows.active{
    transform: scale(0.8);
  }
  .content .text {
    padding: 2% 25% 10% 12%;
  }
}
@media (max-width: 700px){
  .choiceText.mid.active#t1 {
    font-size: 27px;
}
  .arrows{
    top: 150%;
  }
  .choiceText.mid.active{
    font-size: 20px;
  }
  .gridViewElements:nth-child(1){
    flex-direction: column;
  }
  .gridViewElements:nth-child(2){
    flex-direction: column;
  }
  .gridViewElements:nth-child(3){
    flex-direction: column;
  }
  .choiceText.active{
    font-size: 2rem;
  }
  .content .text img{
    width: 55%;
  }
  .wordCarousel{
    transform: scale(1.6);
  }
  section img{
    transform: scale(50%);
    top: -35px;
    left: -35px;
  }
  .wordCarousel div li:nth-child(1){
    white-space: nowrap
  }
  .toggle-btn{
    transform: scale(1.5);
  }
  .gridView img#hide2{
    display: flex;
    width: 40%;
  }
  .logoandtext #sportland{
    width: 30%;
  }
  .logoandtext #logoSk{
    width: 9%;
  }
  .toAppear.active {
    height: 20vh;
}
}
@media (max-width: 500px){
  .content div{
    font-size: 5rem;
    letter-spacing: normal;
  }
  .choiceText.mid.active#t1 {
    font-size: 23px;
}
  section img#logo{
    transform: scale(0.345);
    left: -10%;
  }
  .wordCarousel{
    transform: scale(1.4);
  }
  .wordCarousel div #special {
    font-size: 27px;
}
  .content .text {
    padding: 2% 10% 10% 12%;
  }
  .logoandtext #sportland{
    width: 36%;
  }
  .logoandtext #logoSk{
    width: 14%;
  }
}
@media (max-width: 330px){
  .choiceText.mid.active#t1 {
    font-size: 20px;
}
  section img#logo{
    transform: scale(0.345);
    margin-left: 10px;
    left: -16%;
  }
  .arrows{
    top: 150%;
  }
  section img#logo{
    position: absolute;
  }
  .wordCarousel{
    transform: scale(1.4);
  }
  .wordCarousel div #special{
    font-size: 33px;
  }
  .toAppear.active{
    height: 22vh;
  }
  .content div{
    letter-spacing: 0;
  }
  .content .text{
    padding: 10px 20px 10px 20px;
  }
  .choiceText{
    font-size: 1.2rem;
  }
  .choiceText.mid{
    font-size: 1.2rem;
  }
  .choiceText.mid.active{
    font-size: 1.2rem;
  }
  .gridViewElements{
    display: flex;
    width: 100%;
    font-size: 2rem;
    color: var(--1);
    text-shadow: 1.5px 1.5px var(--3);
  }
  .container.reveal .choice{
    font-size: 2rem;
  }
}
@media (min-width: 1px) {
  #contactsDesktop{
    display: none;
  }
  #contactsTablet{
    display: none;
  }
  #contactsMobile{
    display: flex;
  }
}
@media (min-width: 650px) {
  #contactsDesktop{
    display: none;
  }
  #contactsTablet{
    display: flex;
  }
  #contactsMobile{
    display: none;
  }
}
@media (min-width: 1101px) {
  #contactsDesktop{
    display: flex;
  }
  #contactsTablet{
    display: none;
  }
  #contactsMobile{
    display: none;
  }
}
@media (max-width: 650px) {
  #contactsMobile {
    background-position-y: -100%;
    min-height: 120vh;
  }
  #contactsMobile div.graybox{
    min-height: 120vh;
  }
  .contactDataMobile{
    display: flex;
    width: 100%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    transform: translateY(105%);
    z-index: 2;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .contactDataMobile h1{
    font-size: calc(2rem + 3vw);
    font-weight: 700;
    color: white;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .contactDataMobile .contactGrid{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
    gap: 5%;
  }
  .contactDataMobile .place{
    font-size: 2rem;
    font-weight: 500;
    color: black;
    margin-bottom: 2%;
    text-align: left;
  }
  .contactDataMobile .adress{
    font-size: 1.5rem;
    min-height: 50%;
    font-weight: 300;
    color: black;
    margin-bottom: 2%;
    text-align: left;
  }
  .contactDataMobile .contactIcons{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .contactDataMobile .contactIcons a{
    text-decoration: none;
    color: black;
  }
  .contactDataMobile .contactIcons #telephone,
  .contactDataMobile .contactIcons #email {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
    justify-content: center;
    gap: 5%;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .contactDataMobile .contactIcons #telephone a,
  .contactDataMobile .contactIcons #email a{
    font-size: 1.2rem;
    border-bottom: black 2px dashed;
    margin: 0;
  }
  .contactDataMobile .contactIcons #telephone img,
  .contactDataMobile .contactIcons #email img{
    width: fit-content;
    width: 8%;
    align-content: flex-start;
    transform: scale(100%);
  }
}

